<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SRE Checklist</title>
      <link rel="stylesheet" href="static/styles.css"> <!-- Add your CSS file for styling -->
</head>
<body>
    <div class="container">
      <div class="header">
          <img src="static/sre.jpeg" alt="SRE Image">
      </div>
        <div class="hero">
            <h1>Welcome! to SRE Webapp, What you would like to check today? Please click any of below.</h1>
        </div>
        <div class="features">
            <div class="feature">
                <a href="/generate-postgresql-html">
                    <img src="static/postgresql.jpeg" alt="PostgreSQL Check">
                    <p>PostgreSQL Check</p>
                </a>
            </div>
            <div class="feature">
                <a href="/pods-check">
                    <img src="static/pods-icon.png" alt="Pods Check">
                    <p>Pods Check</p>
                </a>
            </div>
            <div class="feature">
                <a href="/cost-check">
                    <img src="static/cost-icon.png" alt="Cost Check">
                    <p>Cost Check</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
